@use '@scssVariables' as v;

.containerSign {
  //  height: 50vh;
  // width: 40%;
  margin: auto;
  text-align: center;
  padding: 00 2em 0;
  color: v.$light-color;
  &__mainSign {
    //background-color: lightgreen;
    background-color: rgba(15, 61, 117, 0.3);
    box-shadow: 2px 3px 6px v.$box-shadow;
    border-radius: 6px;
    // border: 1px v.$box-shadow solid;
    //  height: 70vh;
    width: 40%;
    margin: auto;
    // padding: 3em 0 1em 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1em;
    /* align-content: center; */ // align-items: center;
    &__header {
      // display: flex;
      // flex-direction: column;
      // flex-wrap: nowrap;
      // /* align-content: center; */
      // align-items: center;

      //padding: 1em 0 1em 0;
      // margin-top: 2em;
    }
    &__titleSign {
      font-weight: 400;
      //margin: 1em;
      padding: 0.5em 0 0.5em 0;
    }

    &__form {
      margin-top: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &__label {
        position: relative;
        margin-bottom: 0.5em;
        width: 16em;
        text-align: left;
        font-size: 0.8em;
        color: v.$color-text-auth-hover;
      }
      &__input {
        width: 100%;
        padding: 0.5em;
        border: 1px solid v.$color-text-auth;
        border-radius: 6px;
        transition: border-color 0.3s;
        color: v.$color-btn-auth;
        background-color: rgba(15, 61, 117, 0.5);
        box-shadow: inset 0.1em 0.1em 0.6em v.$color-btn-auth-hover;
        // background-color: v.$color-btn-auth;
        //cursor: pointer;

        &__toggle {
          &__eye {
            position: absolute;
            top: 100%;
            right: 8px;
            transform: translateY(-130%);
            cursor: pointer;
            color: v.$light-color;
          }
        }
      }

      &__input:hover,
      &__input:focus {
        border-color: v.$color-avatar;
      }

      &__input::placeholder {
        color: v.$color-avatar;
      }

      &__checkbox {
        font-size: small;
      }

      &__button {
        // background-color: v.$color-btn;
        // width: 16em;
        // padding: 0.5em;
        // border-radius: 4px;
        // color: v.$light-color;
        // margin: 1em auto;
        width: 50%;
        margin: auto;
        background-color: v.$color-btn-auth;
        margin-top: 1em;
        padding: 0.5em;
        border-radius: 6px;
        color: v.$color-text-auth;
        border-bottom: 3px solid v.$color-text-auth;
        // text-shadow: 0px -2px #2980b9;
        // -webkit-transition: all 0.1s;
        transition: all 0.1s;
      }
      &__button:hover {
        // background-color: v.$color-btn-hover;
        background-color: v.$color-btn-auth-hover;
        color: v.$color-text-auth-hover;
      }
      &__button:active {
        -webkit-transform: translate(0px, 5px);
        transform: translate(0px, 5px);
        border-bottom: 1px solid;
      }

      &__error {
        font-size: x-small;
        color: v.$color-btn-auth;
        background-color: v.$error-color;
        border-radius: 6px;
        text-align: center;
        padding: 0.2em 0.6em;
        margin-top: 0.5em;
      }
    }
    &__link {
      // font-size: small;
      color: v.$color-avatar;
      // cursor: pointer;
      font-size: small;
      margin-top: 1em;
    }
    &__link:hover {
      // color: v.$color-btn-hover;
      color: v.$color-btn-auth;
    }
  }
}
