// Menu size
$menuWidth: 13rem;
$menuHeight: 100vh;

// BUTTON
$color-btn: rgb(76, 76, 170);
$color-btn-hover: rgb(63, 63, 143);

// COLORS
$light-blue: #bddcf0;
$light-grey: #818385;
$dark-grey: #333333;
$light-color: white;
$error-color: #ff0000;

// TEXT
$light-color: white;
