@use 'media-queries' as mq;
@use 'reset';
@use 'variables' as v;

@import url(https://fonts.bunny.net/css?family=anuphan:100,200,300,400,500,600,700);

:root {
  font-family: 'Anuphan', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logout {
  &__confirmation {
    position: absolute;
    top: 100%;
    // left: 50%;
    transform: translateX(-80%);
    // background-color: #fff;
    background-color: rgba(15, 61, 117);
    // border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 1px 1px 3px v.$box-shadow;
    z-index: 999;
    text-align: center;
    color: v.$color-text-auth-hover;
  }

  &__confirmation p {
    margin: 0;
    padding: 10px;
  }

  &__confirmation button {
    margin: 0.1em;
    padding: 0.1em 0.4em;
    cursor: pointer;
    border-bottom: 1px solid rgba(15, 61, 117);
    // text-shadow: 0px -2px #2980b9;
    // -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }

  &__confirmation button:hover {
    background-color: #eee;
    color: v.$color-text-auth;
    border-bottom: 1px solid v.$color-text-auth;
    border-radius: 4px;
  }

  &__confirmation button:active {
    -webkit-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
    border-bottom: 1px solid;
  }
}
