@use 'reset';
@use 'variables' as v;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
// POP-UP CONFIRM
.logout {
  &__confirmation {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    text-align: center;
  }

  &__confirmation p {
    margin: 0;
    padding: 10px;
  }

  &__confirmation button {
    margin: 5px;
    padding: 5px 10px;
    //cursor: pointer;
  }

  &__confirmation button:hover {
    background-color: #eee;
  }
}
